* {
    margin: 0px;
   } 

    body {
    background-color: rgb(255, 255, 255);


    }

    div.the-header {
        display: flex;
        gap : 100px;
        align-items: center;
        font-size: 50px;
    }

    .the-header img{
        width: 70px;
        height: 70px;
        border-radius: 50px;
        outline: 4px solid red;
        justify-content: center;
        margin-left: 40px;
        margin-bottom: 10px;
        margin-top: 10px
    }

    #Judul {
    color: rgb(39, 20, 204);
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin: 10px 0 20px 0;

    }

    nav.nav-header {
        background-color: rgba(0, 204, 255, 0.808);
        gap: 40px;
        display: flex;
        padding-left: 40px;
        width: auto;
        justify-content: space-between;
        align-items: center;

    }


    .menu1 {

        font-family: 'Times New Roman', Times, serif;
        gap: 10spx ;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }         

    .menu3 {
        color: white;
        border-right: 2px solid red;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom:20px;
    }

    #far-right-tab-menu {
        border-right: none;
        padding-right: none;
    }

    a:link.menu3{
        color : rgb(255, 255, 255);
        text-decoration: none;
    }

    a:hover.menu3{
        color: rgb(0, 0, 0);
        background-color: #ddd;
    }
    .menu3 a:active {
        color : rgb(115, 0, 246);
        padding-top: 10px;
    }

    .search-fields {
        border-radius: 20px 20px 20px 20px;
        border: none;
        padding-left: 10px;
        padding: 7px;
        margin-right: 20px;
    }
    article {
        margin: 0 100px 100px 100px;
        text-align: justify;
    }

    p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        }

    .paragraph1 {
        tab-size: 10px;
    }

    p1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-bottom{
        bottom: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 150px;
        padding-top: 5px;
        background-image: url(https://tse4.mm.bing.net/th?id=OIP.zZrVbGMZMavCDiDTIsocYwHaEK&pid=Api&P=0&h=180);
        height: 25px;
    }

    .p-social-media-link {
        padding-top: 15px ;
    }

    #MediaSosialLink {
        display: flex ;
        justify-content: center;
        gap: 15px;
        padding-top: px;
    }

    .p-social-media-link {
        font-size: larges;
    }

    .logo-media-sosial-bottom {
        height: 50px;
        border-radius: 100%;
        margin-top: 10px;
        background-color: white;

    }

    a:link.link-social-media-bottom {
        color: rgb(92, 187, 148);
        text-decoration: none;
    }