* {
    margin: 0px;
   } 

    body {
    background-color: rgb(255, 255, 255);
    


    }

    .head {
        /* top: 0;
        right: 0;
        left: 0; */
        background-color: white;
        
    }

    div.the-header {
        display: flex;
        /* gap : 100px; */
        align-items: center;
        font-size: xx-large;
    }

    .the-header img{
        width: 70px;
        height: 70px;
        border-radius: 50px;
        outline: 4px solid red;
        -webkit-border-radius : 50px;
        justify-content: center;
        margin-left: 40px;
        margin-bottom: 10px;
        margin-top: 10px
    }

    h2 {
        padding: 0px;
    }

    #Judul {
    color: rgb(39, 20, 204);
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin: 10px 0 20px 0;

    }

    nav.nav-header {
        /* background-color: rgba(0, 204, 255, 0.808); */
        background-color: rgb(0, 119, 255);
        height: 80px;

        /* gap: 40px; */
        display: flex;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
        justify-content: space-between;
        align-items: center;


    }


    .list-nav-header {
        height: 100px;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* line-height: ; */
        /* display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: scroll; */

    }         

    .link-list-nav-header {
        color: white;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom:20px;
        overflow-wrap: break-word;
        border-radius: 10px;
        
    }

    #far-right-tab-menu {
        border-right: none;
        padding-right: none;
    }

    a:link.link-list-nav-header{
        color : white;
        text-decoration: none;
        
    }

    a:hover.link-list-nav-header{
        color: rgb(0, 119, 255);
        background-color: #9eeffa;
        transition: 0.4s;
    }

    /* a:visited.link-list-nav-header {
        color: white;
        /* background-color: #9eeffa; */
    

    .button-search-engines {
        background: inherit;
        aspect-ratio: 1/1;
        padding: 5px;
        border: none;
        border-radius: 100%;
        transition: 0.4s;


    }

    .button-search-engines:hover {
        background-color: rgba(255, 255, 255, 0.499);
        /* transition: 5ms; */

    }

    .img-button-search-engines {
        height: 25px;
        filter: invert(100%);
        /* background-color:rgb(0, 204, 255); */
        aspect-ratio: 1/1;
        cursor: pointer;
    }



    .search-engines {
        background-color: black;
        right: 0;
    }

    .wrapper-mobile-list-nav-header {
        display: none;
        justify-content: center;
        height: 30px;
        width: 30px;
        /* height: ; */
        border-radius:5px;
        background-color: #4CAF50;
        align-items: center;
        
    }

    .button-list-nav-header {
        
        background-color: inherit;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        gap: 2px;

        /* display: none; */
        /* height: 12px;
        width: 12px;
        border: 0; */
        /* background-color: rgb(255, 145, 0); */
        /* outline: solid rgb(138, 32, 32) 2px ; */
        /* box-shadow: 2px red; */
        /* padding: 0; */
        /* box-shadow: ; */
    }

    .button-list-nav-header:hover {
        background-color: green;

    }

    


    span.span-decoration{
        display: block;
        background: fixed;
        background-color: white;
        /* margin-bottom: 2px; */
        height: 2px;
        width :12px;
        text-align: center;
    }

    .link-list-nav-header-mobile {
        display: none;
        /* position: ; */
        float: left;
        width: 300px;
    }

    



    .search-fields {
        width: inherit;
        border-radius: 20px 20px 20px 20px;
        -webkit-border-radius : 20px 20px 20px 20px;

        border: red;
        padding-left: 10px;
        padding: 7px;
        margin-right: 20px;
    }

    .wrapper-wrapper-jargon {
        background-color: rgb(0, 119, 255);
        background-image: linear-gradient(rgb(0, 119, 255),#98ffec);
        height :250px;
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;

        
    }

    .jargon {
        /* padding-top: 50px; */
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }


    article {
        /* margin: 100px 100px 100px 100px; */
        /* text-align: justify; */
        background-color: rgb(152,255,236);
    }

    .judul {
        font-size: xx-large;
        /* margin-bottom: 20px; */
    }

    .header-share {
        display: flex;
        align-items: center;
        justify-content: space-between ;
        /* text-align: ; */
        width: 180px;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .logo-media-sosial-upper {
        margin-top: unset;
    }

    p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        /* white-space: pre; */
        text-justify: distribute;
        }

    tab {
        display: inline-block;
        margin-left: 40px;
    }

    .paragraph1 {
        tab-size: 10px;
    }

    p1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #nav-bottom {
        background-image: url(https://tse4.mm.bing.net/th?id=OIP.zZrVbGMZMavCDiDTIsocYwHaEK&pid=Api&P=0&h=180);
        /* position: fixed; */
        bottom: 0;
        right: 0;
        left:0;
        width: 100%;
        text-align: center;
        padding-bottom: 150px;
        padding-top: 5px;
        height: 25px;
    }

    .p-social-media-link {
        padding-top: 15px ;
    }

    #MediaSosialLink {
        display: flex ;
        justify-content: center;
        gap: 15px;
        padding-top: px;
    }

    .p-social-media-link {
        font-size: larges;
    }

    .logo-media-sosial-bottom {
        height: 50px;
        border-radius: 100%;
        margin-top: 10px;
        background-color: white;

    }

    a:link.link-social-media-bottom {
        color: rgb(92, 187, 148);
        text-decoration: none;
    }
    article {
        width: clamp (200px, 50%, 600px);
    }
    
    article {
        width: clamp (200px, 50%, 600px);
    }

    .image-con {
        width: clamp(100px, 50%, 200px);
    }

    @media screen and (max-width: 1400px) {
        .link-list-nav-header {
            padding-left: 10px;
            padding-right: 10px;
        }
        .the-header img {
            margin-left: 10px;
        }
        /* div.the-header {
            font-size: medium;
        } */
    }

    @media screen and (max-width:1084px){
        article{
            margin: 0;
        }
    }

    @media screen and (max-width: 1000px) {
        .link-list-nav-header{
            padding-right: 15px;
            padding-left: 15px;
        }
        
    }

    @media screen and (max-width: 850px) {
        .link-list-nav-header{
            padding-right: 8px;
            padding-left: 8px;
        }   
    }


        div.the-header {
            
            /* justify-content: space-evenly; */
            
            /* gap: 50px; */
            font-size: x-large;
            margin-right: 40px;
            /* padding: 7.5px 0 7.5px; */
        }

        h2 {
            padding: initial 7.5px 0 7.5px;
            /* heigt */
        }

        .the-header img {
            position: relative;
            right: 0;
        } 
    

    @media screen and (max-width: 455px) {
        div.the-header {
            gap: 0px;
        }
    }

    @media screen and (max-width: 420px){
        div.the-header {
            display: flex;
            justify-content: space-evenly;
        }
    }

    @media screen and (max-width: 1070px){
        nav.nav-header {
            height: 57px;
            padding-left: 10px;
            padding-right: 10px;

        }

        .the-header img {
            height: 60px;
            width: 60px;
        }

        div.the-header {
            font-size: medium;
            
        }

        /* .button-list-nav-header{
            display: grid;
        } */

        .list-nav-header {
            display: none;
        }

        .main-search-engine {
            display: none;
            
        }

        .wrapper-mobile-list-nav-header{
            display: flex;
            /* justify-content: space-between; */
            /* width : 100%; */
            
        }        .button-search-engines {
            display: none;
        }
                .button-search-engines {
            display: none;
        }
    }

    @media screen and (max-width :430px) {
        div.the-header {
            font-size:xx-small;
        }

        .the-header img {
            height: 35px;
            width: 35px;
        }


    }

    #wrapper-mobile-nav-bar {
        transition: 5s;
        /* width: 0px; */
        /* display : "grid"; */
        display: none;
        
    }

    #mobile-nav-bar {
        
        grid-template-columns: 1fr;
        grid-template-rows: 40px 100px;
        display: grid;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        /* overflow: auto; */
        box-shadow: 0 1000px 2000px 1000px rgba(0,0,0,0.2);
        /* box-shadow: ; */
        /* position: fixed; */
        top: 0;
        right: 0;
        bottom: 0;
        /* padding-top: 90px; */
        background-color: rgb(255, 255, 255);
        height: 1000px;
        width: 70%;

        animation: forwards;
    }

    .mobile-list-nav-bar {
        margin-left: 20px;
        display: inherit;
        grid-template-columns: 1fr;
        /* position: absolute;        */
         height: 100px;
        margin-top: 50px;
        /* display: none; */
    }

    #side-nav-search-field {
        
        display: flex;
        border-radius: 20px 20px 20px 20px;
        border-radius: 50;
        outline: red 2px solid;
        margin : 5px 5px 5px 20px;
        width: 50%;

    }

    #input-nav-side-search-field {
        width: 100%;
        border-radius: inherit;
    }

    #theSideBarExit{
        
        background-color: blue;
        font-family: "Lato", sans-serif;
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 40%;
        display: flex;
        justify-items: center;
        align-items: center;
        /* justify-content: center; */
        /* right: 0px; */
        /* align-self: self-end; */
        /* position: absolute; */
        /* right: 0; */
        /* point */
        cursor: pointer;
    }

    .upper-mobile-nav-bar {
        display : flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }



    .link-list-mobile {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color : rgb(129, 129, 129);
        /* margin-bottom: 10px; */
        padding-top: 10px;
        padding-bottom: 10px;
        transition: 150ms;
    }

    a:hover.link-list-mobile {
        text-decoration: none;
        color : black;
        font-size: larger;
        
        
    }

    /* a:active.link-list-mobile {


    } */

    /* a:focus.link-list-mobile {
        color: black;
        text-decoration: none;
        color: black;
        font-size: larger;
        transition: 150ms;
    } */
    /* a:hover */