a:link {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

/* a:visited{
    color: inherit;
    text-decoration: none;
} */

article {
    /* border: 10px solid white;
    display: grid;
    justify-items: center;
    align-items: center; */
    background-color: rgb(152,255,236);

}

/* mulai dari sini */

.wrapper-last-most-viewed-content{
    justify-items: center;
    width: 1000px;
    /* height: 867px; */
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.background-1 {
    /* background-image: url(size-CSS-background-images-correctly.webp); */
    background-image:
        linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.693)), url(size-CSS-background-images-correctly.webp);
    background-size: cover;
}

.first-1{
    background-color: red;
    /* width: ; */
    flex: 2;
    aspect-ratio: 1/1;
}

.others {
    border: 0;
    display: flex;
    flex-flow: column;
    flex: 1;
    gap: 10px;
}

.second-1{
    background-color: blue;
    flex: 1;
    overflow: hidden;
    width: initial;
    text-justify: distribute;
    /* text-align: center; */
}

.third-1{
    background-color: yellow;
    flex: 1;
}

.fourth-1{
    background-color: green;
    flex: 1;
}

.align-item {
    display: flex;
    /* align-items: self-end; */

    flex-flow: column;
}

.flex {
    display: flex;
    align-items: self-end;
}

a.flex {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}

.background-1:hover {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.832)), url(size-CSS-background-images-correctly.webp);

}

hgroup {
    margin: 0 5px 5px 5px;
}

/* hgroup:hover {} */

h3.huruf-1 {
    margin-bottom: 20px;
}
h1.huruf-1 {
    margin-bottom: 40px;
}

h4.huruf-1 {

}

h6.huruf-1 {
    margin-bottom: 5px;
}

h4.huruf-1{
    height: 40px;
    /* max-lines: 2; */
}

.hiding-long-word {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}
/* sampai sini  */


.wrapper-list-content {
    margin : 30px 30px 0 30px;
    display: grid;
    /* width: 75%; */
    /* border: solid 1px red; */
    justify-content: center;

}

.wrapper-content {
    /* border: solid 2px red; */
    border-radius: 30px;
    width: inherit;
    background-color: chartreuse;
}

.list-content {

    grid-column: 1/2;

    width: 100%;
    min-height: 230px ;
    max-width: 1200px;
    /* border: 4px solid rgb(196, 196, 196); */
    /* margin: 0 30px 30px 30px; */
    padding-top: 10px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-auto-columns: 1fr 1fr 1fr; */
    /* justify- */
    /* place-items: center ; */
    gap: 20px;
    margin-bottom: 50px;


    
}

.content-in-list-content {
    /* margin: 10px 10px 10px 10px; */
    font-family: sans-serif;
    width: 380px;
    /* background-color: rgb(0, 200, 164); */
    background-color: rgb(29, 169, 143);
    /* background-color: rgb(30, 41, 59); */
    /* background-color: rgba(15, 23, 42); */
    border-radius: 20px;
    /* outline: solid 2px red; */
    /* border: solid 2px blue; */
    /* outline: solid 2px gray; */
    /* margin-bottom: 25px; */
    display: table-cell;
    /* text-align: center;
    vertical-align: middle; */
    justify-self: center;
    
}

.content-in-list-content:hover {
    outline: solid 2px gray;

}

div.image-container {
    /* position: relative; */
}

a.link-img-title-list-content {
    /* height:  inherit; */
    /* display: flex; */
    text-decoration: none;

}

a:link.link-img-title-list-content {
    text-decoration: none;
    color : blue;
}

a:active.link-img-title-list-content {
    color: antiquewhite;
}

a:hover.link-img-title-list-content {
    color: BLUE;
}

a:active.link-img-title-list-content {
    color: blue;
}

a:visited.link-img-title-list-content {
    color: rgb(255, 255, 255);
}

.img-title-list-content {
    margin: 5px;
    width: 370px;
    aspect-ratio: 16 / 9 ;
    float: top;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* position: static; */
    /* opacity: 0.5; */
}

.sub-menu-tag {
    position: absolute;
    top: 15px;
    right:15px;
    padding: 0 5px 0 5px;
    background-color: white;
    border-radius:100px;
    font-weight: bolder;
    color: rgb(0, 183, 255)
}

h3.title-list-content{
    /* display: flex; */
    /* justify-content: space-between; */
    height: 46px;
    margin: 0 5px 0 5px;
    
}

a.link-title-list-content {
   /* margin:0 6px 10px 6px; */
   /* display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden; */
   height: 46px;
   text-align: initial center;
   text-decoration: none;
}



.hiding-long-word {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* a:hover {
    tra
} */

.bottom-link-title-list-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
}



.tags-list-content-wrapper {
  
    margin-bottom: 10px;
    margin-top: 10px;

}

.tags {
    display: unset  ;
    font-size: medium;
    text-align: left;
    max-width: 12ch;
    color: rgb(67, 67, 67);
    background-color: rgb(255, 255, 95);
    background-size: contain;
    padding: 3px 5px 3px 5px;
    border-radius: 20px;
}

/* TODO buat sebuah program JS "TIME AGO" pada class="time-ago" di bawah */

#time-ago {
    color: black;
    font-size: medium;
    text-align: right;
    /* margin-right: 25px; */
    /* margin-bottom: 10px; */
    max-width: 12ch;
}

.page-list-content-1 {
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

.numbers-page-1 {
    width: 35px;
    aspect-ratio: 1/1;
    /* background-color: red; */
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link-number-page-1 {
    background-color: rgb(69, 193, 171);
}

.link-number-page-1:hover {
    background-color: rgb(0, 105, 84);
}

.current-number-page-1 {
    background-color: rgba(24, 157, 130, 0.722);
}

.current-number-page-1:hover {
    background-color: rgb(21, 138, 115);
}

.border-radius-full {
    border-radius: 9999999px;
}

a.other-page-1 {
    color :black;
}

a.other-page-1:hover {
    background-color: rgb(0, 105, 84);
    color: white;
    
}

/* Side Articles */

div.side-right-list-content {
    width: 20%;
    min-width: 250px;
    border: solid 3px rgb(204, 204, 204);
    background-color: antiquewhite;
    
}

div.list-side-article-wrapper {
    margin: 10px;
    
}

div.side-articles {
    background-color: lightcyan;
    margin : 0 0 30px 0;
    padding: 10px;
}

.link-side-articles {
    text-align: left;
    margin : 0;
    height: 1;
    margin-bottom: 10px;
}

div.tags-side-articles {
    margin :0px;
    /* margin-inline-start: 25px; */
}

div.bottom-side-articles {
    display: flex;
    justify-content: space-between;
    
}
/* 
@media screen and (max-width:1084px){
    .artcile{
        margin: 0 0 100px 0;
    }
} */

@media screen and (max-width: 1800px) {
    div.list-content {
      flex: 70%;
      /* max-width: 70%; */
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 1500px) {
    div.list-content {
        /* flex: 70%; */
      /* max-width: 70%; */
        grid-template-columns: 1fr;
    }
  }

  @media  screen and (max-width: 1084px){
    div.side-right-list-content {
        /* flex: 30%; */
        min-width: 250px;
    }

    
  }

  @media screen and (max-width:720px) {
    .wrapper-list-content {
        margin: 0;
        flex: 50%;
        max-width: 500%;
        display: grid;
        justify-items: center;
        /* row */
    }
    div.list-content {
        width: unset;
    }
  }

  @media screen and (max-width:400px){
    .img-title-list-content{
        width: 290px;
    }
    .content-in-list-content{
        width: 300px;
    }
    
  }

  @media screen and (max-width:339px){
    
  }


  /* TODO buat Reponsive Web Desingn untuk bagian .nav-header dan .the-header */
  @media screen and(max-width:180px){
    .nav-header{

    }
  }
