* {
    margin: 0px;
   } 

    body {
    background-color: rgb(255, 255, 255);


    }

    .head {
        top: 0;
        right: 0;
        left: 0;
        background-color: white;
        
    }

    div.the-header {
        display: flex;
        gap : 100px;
        align-items: center;
        font-size: xx-large;
    }

    .the-header img{
        width: 70px;
        height: 70px;
        border-radius: 50px;
        outline: 4px solid red;
        
        justify-content: center;
        margin-left: 40px;
        margin-bottom: 10px;
        margin-top: 10px
    }

    h2 {
        padding: 0px;
    }

    #Judul {
    color: rgb(39, 20, 204);
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin: 10px 0 20px 0;

    }

    nav.nav-header {
        background-color: rgba(0, 204, 255, 0.808);
        gap: 40px;
        display: flex;
        padding-left: 20px;
        width: auto;
        justify-content: space-between;
        align-items: center;


    }


    .list-nav-header {
        height: 57px;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* line-height: ; */
        /* display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: scroll; */

    }         

    .link-list-nav-header {
        color: white;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 20px;
        
        padding-bottom:20px;  
        
        
    }

    #far-right-tab-menu {
        border-right: none;
        padding-right: none;
    }

    a:link.link-list-nav-header{
        color : rgb(255, 255, 255);
        text-decoration: none;
        
    }

    a:hover.link-list-nav-header{
        color:  rgb(0, 204, 255);
        background-color: #9eeffa;
        transition: 0.4s;
    }
    a:active.link-list-nav-header {
        color:  rgb(0, 204, 255);
        background-color: #9eeffa;
    }

    .button-list-nav-header {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        /* display: none; */
        /* height: 12px;
        width: 12px;
        border: 0; */
        /* background-color: rgb(255, 145, 0); */
        /* outline: solid rgb(138, 32, 32) 2px ; */
        /* box-shadow: 2px red; */
        /* padding: 0; */
        /* box-shadow: ; */
    }



    span {
        display: block;
        background: fixed;
        background-color: white;
        margin-bottom: 2px;
        height: 2px;
        width :12px;
        text-align: center;
    }

    .link-list-nav-header-mobile {
        display: none;
        /* position: ; */
        float: left;
        width: 300px;
    }

    

    .wrapper-mobile-list-nav-header {
        display: none;
    }

    .search-fields {
        border-radius: 20px 20px 20px 20px;
        border: none;
        padding-left: 10px;
        padding: 7px;
        margin-right: 20px;
    }


    article {
        margin: 0 100px 100px 100px;
        /* text-align: justify; */
    }



    

    /* p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        }

    .paragraph1 {
        tab-size: 10px;
    }

    p1 {
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    .nav-bottom{
        /* position: absolute; */
        bottom: 0;
        right: 0;
        left:0;
        width: 100%;
        text-align: center;
        padding-bottom: 150px;
        padding-top: 5px;
        background-image: url(https://tse4.mm.bing.net/th?id=OIP.zZrVbGMZMavCDiDTIsocYwHaEK&pid=Api&P=0&h=180);
        height: 25px;
    }

    .p-social-media-link {
        padding-top: 15px ;
    }

    #MediaSosialLink {
        display: flex ;
        justify-content: center;
        gap: 15px;
        padding-top: px;
    }

    .p-social-media-link {
        font-size: larges;
    }

    .logo-media-sosial-bottom {
        height: 50px;
        border-radius: 100%;
        margin-top: 10px;
        background-color: white;

    }
/* 
    a:link.link-social-media-bottom {
        color: rgb(92, 187, 148);
        text-decoration: none;
    }
    article {
        width: clamp (200px, 50%, 600px);
    }
    
    article {
        width: clamp (200px, 50%, 600px);
    } */

    .image-con {
        width: clamp(100px, 50%, 200px);
    }

    @media screen and (max-width:1084px){
        article{
            margin: 0;
        }
    }

    @media screen and (max-width: 1000px) {
        .link-list-nav-header{
            padding-right: 15px;
            padding-left: 15px;
        }
        
    }

    @media screen and (max-width: 850px) {
        .link-list-nav-header{
            padding-right: 8px;
            padding-left: 8px;
        }   
    }


        div.the-header {
            
            /* justify-content: space-evenly; */
            
            gap: 50px;
            font-size: x-large;
            margin-right: 40px;
            /* padding: 7.5px 0 7.5px; */
        }

        h2 {
            padding: initial 7.5px 0 7.5px;
            /* heigt */
        }

        .the-header img {
            position: relative;
            right: 0;
        } 
    

    @media screen and (max-width: 455px) {
        div.the-header {
            gap: 0px;
        }
    }

    @media screen and (max-width: 420px){
        div.the-header {
            display: flex;
            justify-content: space-evenly;
        }
    }

    @media screen and (max-width: 788px){
        nav.nav-header {
            height: 57px;
        }

        /* .button-list-nav-header{
            display: grid;
        } */

        .list-nav-header {
            display: none;
        }

        .main-search-engine {
            display: none;
        }

        .wrapper-mobile-list-nav-header{
            display: flex;
            justify-content: space-between;
            width : 100%;
            align-items: center;
        }
    }

    

    .mobile-list-nav-bar {
        display: grid;
        grid-template-columns: 1fr;
        /* position: absolute;        */
         height: 100px;
        /* margin-top: ; */
        /* display: none; */
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        /* position: fixed; */
        top: 0;
        left: 0;
        bottom: 0;
        /* padding-top: 90px; */
        background-color: rgb(255, 255, 255);
        height: auto;
        width: 300px;
    }